<template name="matchMakingIndex">

	<div class="container">
		{{> formSearch}}
		<hr>
		<div class="row">
			{{#if isEmpty}}
			<div class="col-md-12">
				<h3>Person not found.. <a href="#" id="display-all">view All person</a></h3>
			</div>
			{{else}}
			{{#each model}}
			<div class="col-md-4">
				<img class="image img-thumbnail" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/love.jpg{{/if}}"/>
				<h3>{{profile.name}} , {{profile.age}}</h3>
			</div>

			<div class="col-md-2">
				<div class="match-making">
					{{#unless isLoved _id}}
					<a href="#" class="btnMakingMatch" id="btnLove">
					<p class="text-center"><i class="fa fa-heart-o fa-5x"></i></p>
					<h2 class="text-center textLove">LOVE</h2>
					</a>
					{{else}}
					<p class="text-center"><i class="fa fa-heart fa-5x"></i></p>
					<h2 class="text-center textLove">YOU LOVE IT</h2>
					{{/unless}}
				</div>
			</div>

			<div class="col-md-2">
				<div class="match-making">
					<a href="#" class="btnMakingMatch" id="btnSkip">
					<p class="text-center"><i class="fa fa-times fa-5x"></i></p>
					<h2 class="text-center">SKIP</h2>
					</a>
				</div>
			</div>
			{{/each}}
			{{/if}}
		</div>
	</div>	
</template>